.register_page {
    padding: 20px;
    background-color: white;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

.register_section {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.register_section input,
.register_section select,
.register_section textarea {
    margin-bottom: 10px;
}

.register_section label {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

/* Custom styling for Bootstrap tabs */
.nav-tabs .nav-link {
    color: #3BB4A1;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #3BB4A1;
    border-color: #3BB4A1;
}

input:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
    color: #888;
}

.btn-primary {
    background-color: #3BB4A1;
    border-color: #3BB4A1;
}

.btn-primary:hover {
    background-color: #2a9e8b;
    border-color: #2a9e8b;
}

.btn-warning {
    color: white;
    background-color: #fca510;
    border-color: #fca510;
}

.btn-warning:hover {
    background-color: #e5940e;
    border-color: #e5940e;
}